@model Codit_Client.Models.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147985240-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147985240-1');
    </script>

    <title>Codit Software Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/Design/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href='http://serve.fontsproject.com/css?family=Nachlieli+CLM:200' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

</head>

<body class="Hfont">
    <div class="Hfont" style="width: 100% !important; overflow-x: hidden;">

        <section id="homepage" class="homepage">
            <div class="menu-navbar">
                <button onclick="openNav()"><i class="fa fa-bars"></i></button>
            </div>
            <div class="position">
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#homepage">דף בית</a>
                    <a href="#websiteBuild">בניית אתרי תדמית</a>
                    <a href="#technology">הטכנולוגיות שלנו</a>
                    <a href="#toKnow">מי אנחנו</a>
                    <a href="#contact">צור קשר </a>
                </div>
            </div>

            <div id="affected">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12 col-ms-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="main" class="center-Menu">
                            <img class="main_logo" src="~/Content/images/Logo.png" />
                            <div class="col-md-12">
                                <button class="main_btn right_btn">התקשר עכשיו</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 col-ms-12">
                        <ul id="menu-desktop" class="menu-desktop">
                            <li>
                                <a href="#homepage">דף בית</a><br />
                            </li>
                            <li>
                                <a href="#toKnow">מי אנחנו</a>
                            </li>
                            <li>
                                <a href="#websiteBuild">בניית אתרי תדמית</a>
                            </li>
                            <li>
                                <a href="#technology">הטכנולוגיות שלנו</a>
                            </li>
                            <li>
                                <a href="#contact">צור קשר </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="websiteBuild" class="website_build">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="desctiption_title">בניית אתרי תדמית</label>
                </div>
            </div>
            <div class="row disFlexColumn">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                    <div class="info_send">
                        <p class="info_send_title">נפגש לקפה</p>
                        <div class="info_send_details">
                            @using (Html.BeginForm("SendInformation", "Home", FormMethod.Post))
                            {
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.fullName, new { @class = "info_input", @placeholder = ":שם" })
                                </div>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.email, new { @class = "info_input", @placeholder = ":דוא\"ל" })
                                </div>

                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.phone, new { @class = "info_input", @placeholder = ":טלפון" })
                                </div>
                                <button type="submit" class="send_btn">שליחה</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="desctiption">
                        <p class="desctiption_details">
                            אתר האינטרנט שלכם הוא התדמית שלכם ברשת,
                            האתר מייצג את העסק או הארגון שלכם 24 שעות
                            ביממה, זה לא משנה אם מדובר באתר תדמיתי או
                            קטלוגי, בסופו של דבר בכל סוגי האתרים חשוב
                            לשמור על תדמית מותאמת אישית ברמה גבוהה,
                            באקטיבנט אנו שמים דגש על מיתוג העסק לפי
                            הסטנדרטים והטרנדים החדשניים ביותר
                        </p>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <div class="disFlexColumn icon-description">
                                <div class="col-md-10 col-sm-12 col-xs-12">
                                    <label>
                                        אנשי מקצוע מובילים בתחום
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <img src="~/Content/images/icon1.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <div class="disFlexColumn icon-description">
                                <div class="col-md-10 col-sm-12 col-xs-12">
                                    <label>
                                        שירות ללא פשרות
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <img src="~/Content/images/icon2.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="center-tablet">
                        <img src="~/Content/images/tablet.png" />
                    </div>
                </div>
            </div>
        </section>

        <section id="technology" class="technology">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="technology-description">
                        <label class="title">
                            הטכנולוגיות שלנו
                        </label>
                        <p dir="rtl" class="details">
                            אקטיבנט מובילה את תחום בניית האתרים בעזרת הטכנולוגיות
                            PHP המתקדמות ביותר, כאשר בצד השרת השפה השולטת היא
                            .שנמצאת בכל אחד מהאתרים שפותחו על ידינו בשנים האחרונות
                            אנו חרטנו על דגלנו שימוש בקוד איכותי ונקי ללא תוספים
                            (פלאגינים) מיותרים אשר יכולים ליצור עומס מיותר או פרצות
                            אבטחה. האתרים שנבנים בחברתנו מאובטחים ב %100 עם
                            אחריות מלאה שכוללת גם גיבוי אוטומטי לקבצי האתר, אפשרות
                            .שחזור בכל רגע נתון
                        </p>
                        <p dir="rtl" class="details">
                            אצלנו אתם יכולים להיות בטוחים בבחירה שלכם מכיוון שהאתרים
                            נבנים בתקן מחמיר במטרה לתת אתר תקין לטווח הארוך בעל
                            יכולות ניהול נרחבות לתפעול האתר, ירידה עד לפרטים הקטנים
                            .ביותר
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12" style="padding-right: 0 !important;">
                    <div class="technology-icon">
                        <img class="main-icon" src="~/Content/images/hand.png" />
                        <div class="icons">
                            <img class="html-icon" src="~/Content/images/html.png" />
                            <img class="php-icon" src="~/Content/images/php.png" />
                            <img class="css-icon" src="~/Content/images/css.png" />
                            <img class="press-icon" src="~/Content/images/WordPress.png" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="toKnow" class="to-know">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="title">
                        בואו נכיר קצת יותר
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <button id="1" class="text-box" onclick="change_description(this.id);">
                        <i id="arrow1" class="fa fa-arrow-down" style="visibility:hidden"></i>
                        החזון שלנו
                    </button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <button id="2" class="text-box" onclick="change_description(this.id);">
                        <i id="arrow2" class="fa fa-arrow-down" style="visibility:hidden"></i>
                        איך נוכל לעזור לכם
                    </button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <button id="3" class="text-box" style="background-color:rgb(36, 193, 171);" onclick="change_description(this.id);">
                        <i id="arrow3" class="fa fa-arrow-down"></i>
                        קצת עלינו
                    </button>
                </div>
            </div>
            <div class="row disFlexColumn">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <img src="~/Content/images/icon3.png" />
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p id="description" dir="rtl" class="desctiption_details">
                            נולדה CODIT כספקית שירותי מיקור חוץ "Outsourcing "בשיתוף עם
                            חברות הייטק מובילות ע"י צוות מהנדסים צעירים מובילים בתחומם.
                            CODIT הובילה פתרונות מורכבים לפרויקטים שיתופיים עם חברות
                            אחרות באמצעות הצוותים הייצירתים שלה שהתאגדו למתן פתרון מקצועי
                            לכל בעיה או בקשה שרק אפשר לחלום עליה, !We, it dream can you If
                            CODIT Can הצטרפו ללקוחות CODIT ותכירו את הפתרונות ושירותים
                            הנרחבים שלה
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="to-know-send-information">
                            <div class="row">
                                @using (Html.BeginForm("SendInformation", "Home", FormMethod.Post))
                                {
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                                        <button type="submit" class="send">שליחה</button>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.TextBoxFor(x => x.phone, new { @class = "", @placeholder = ":טלפון" })
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
                                        @Html.TextBoxFor(x => x.fullName, new { @class = "", @placeholder = ":שם" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                        <label dir="rtl">תן לנו להכיר אותך:</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="customers">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="title">
                        <label>בין לקוחותינו</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="trawed" src="~/Content/images/trawed.png" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="elmnara" src="~/Content/images/elmanara.png" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="hawaii" src="~/Content/images/hawaii.png" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="icona" src="~/Content/images/icona.png" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="eljana" src="~/Content/images/eljana.png" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <img class="tabred" src="~/Content/images/tabreed.png" />
                </div>
            </div>
        </section>

        <section class="personal-design">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="personal-design-title">
                        <label>בניית אתרים בעיצוב אישי</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="personal-design-details">
                        <p dir="rtl">
                            ב Codit כל אתר נבנה בהתאמה אישית לפי דרישת הלקוח ותחום העסק שלו , תפיסת העולם שלנו
                            היא שלכל עסק יש את הייחדיות שלו אותה אנו נדרשים להמחיש התהליך העיצוב האתר על מנת
                            לשקף את החזון של העסק ברשת האינטרנט בצורה מושלמת
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <img src="~/Content/images/icon4.png" />
                    </div>
                    <div class="row">
                        <div class="title">
                            <label>
                                אתרים שבנינו לעסקים
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details">
                            <label>+</label>
                            <label class="num">
                                100
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <img class="wrapper-center" src="~/Content/images/icon5.png" />
                    </div>
                    <div class="row">
                        <div class="title">
                            <label>
                                לקוחות מרוצים
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details">
                            <label>%</label>
                            <label class="num">
                                100
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <img class="wrapper-right" src="~/Content/images/icon6.png" />
                    </div>
                    <div class="row">
                        <div class="title">
                            <label>
                                אתרים בעצוב אישי
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details">
                            <label>%</label>
                            <label class="num">
                                100
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <img class="wrapper-right" src="~/Content/images/icon7.png" />
                    </div>
                    <div class="row">
                        <div class="title">
                            <label>
                                אפליקציות מוביל
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details">
                            <label>+</label>
                            <label class="num">
                                50
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <img class="wrapper-center wrap" src="~/Content/images/icon8.png" />
                    </div>
                    <div class="row">
                        <div class="title">
                            <label>
                                אתר קטלוג ומסחר
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details">
                            <label>+</label>
                            <label class="num">
                                100
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <img class="wrapper-right" src="~/Content/images/icon9.png" />
                    </div>
                    <div class="row">
                        <div class="title">
                            <label>
                                אתר תדמית
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="details">
                            <label>+</label>
                            <label class="num">
                                100
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="customers-files">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="title">
                        <label>
                            תיק עבודות בניית אתרים
                        </label>
                    </div>
                </div>
            </div>
            <div class="row disFlexColumn">
                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                    <img class="webpages" src="~/Content/images/icon15.png" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <img class="left-item w3-animate-left" src="~/Content/images/icon10.jpg" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img class="right-item w3-animate-right" src="~/Content/images/icon11.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img class="left-item w3-animate-left" src="~/Content/images/icon12.jpg" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img class="right-item w3-animate-right" src="~/Content/images/test.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="send">
                                <button type="submit"><i class="go-btn fa fa-chevron-left"></i>לצפיה בכל העבודות</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="customers-qoutes">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">
                    <div class="title">
                        <label>
                            לקוחות ממליצים
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5" style="padding-right: 0 !important;">
                    <img class="hand-icon" src="~/Content/images/hand2.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="qout-background">
                        <img src="~/Content/images/icon14.png" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p class="details" dir="rtl">
                        <br />
                        <img src="~/Content/images/quote.png" />
                        <br />
                    </p>
                    <p class="details" dir="rtl">
                        האתר החדש שעוצב ופותח הוא מאוד מאוד יפה<br />
                        והתוצאות מדברות בעד עצמם , יחסי ההמרה השתפו<br />
                        בצורה משמעותית , אין ספק שאתם עשיתם עבודה<br />
                        נהדרת ולי נשאר רק להמליץ בחום !
                    </p>
                    <p class="customer details" dir="rtl">
                        מאת : מחמוד אבו עסבה (חנות תראויד באקה אלגרביה)
                    </p>
                    <p class="details" dir="rtl">
                        wwww.trawedstore.com
                    </p>
                </div>
            </div>
        </section>

        <section class="blog-websites">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="title">
                        <label>בלוג בניית אתרים</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="card">
                            <img src="~/Content/images/icon18.png" />
                            <div class="card-body">
                                <label class="header" dir="rtl">
                                    כיצד לכתוב תוכן קריא באתר

                                </label>
                                <p class="details" dir="rtl">
                                    Lorem ipsum dolor sit amet,
                                    consectetuer adipiscing elit, sed diam
                                    nonummy nibh euismod tincidunt ut
                                    laoreet dolore magna
                                </p>
                                <div class="card-footer">
                                    <button class=""><i class="fa fa-chevron-left"></i>קרא עוד</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="card">
                            <img src="~/Content/images/icon16.png" />
                            <div class="card-body">
                                <label class="header" dir="rtl">
                                    מערכת ניהול תוכן בקוד פתוח או קוד
                                    סגור ?

                                </label>
                                <p class="details" dir="rtl" style="margin-top:0;">
                                    Lorem ipsum dolor sit amet,
                                    consectetuer adipiscing elit, sed diam
                                    nonummy nibh euismod tincidunt ut
                                    laoreet dolore magna
                                    <div class="card-footer" style="margin-top:0;">
                                        <button class=""><i class="fa fa-chevron-left"></i>קרא עוד</button>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="card position">
                            <img src="~/Content/images/icon17.png" />
                            <div class="card-body">
                                <label class="header" dir="rtl">
                                    מהי מערכת ניהול תוכן?
                                </label>
                                <p class="details" dir="rtl">
                                    Lorem ipsum dolor sit amet,
                                    consectetuer adipiscing elit, sed diam
                                    nonummy nibh euismod tincidunt ut
                                    laoreet dolore magna
                                </p>
                                <div class="card-footer">
                                    <button class=""><i class="fa fa-chevron-left"></i>קרא עוד</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="last-section">
            <div class="row">
                <div class="buttom-menu">
                    <div class="row">
                        <div class="title">
                            <label>
                                הצלחה שלכם מתחילה מעכשיו
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="to-know-send-information">
                            @using (Html.BeginForm("SendInformation", "Home", FormMethod.Post))
                            {
                                <div class="row disFlexColumn">
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <button type="submit" class="send">שליחה</button>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.phone, new { @class = "", @placeholder = ":טלפון" })
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.email, new { @class = "", @placeholder = ":דוא\"ל" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.fullName, new { @class = "", @placeholder = ":שם" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <a href="https://www.instagram.com/codit_software_solutions/">
                            <img class="contact-image" src="~/Content/images/instagram.png" />
                        </a>
                        <a href="https://www.facebook.com/codit.software.solutions/">
                            <img class="contact-image" src="~/Content/images/facebook.png" />
                        </a>
                        <img class="contact-image call" src="~/Content/images/phone.png" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <label class="contact">התקשרו עכשיו 079-9690480</label>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <script>
        //Counting up
        $(".num").counterUp({ delay: 10, time: 2000 });

        $('#mySidebar > a').on('click', function () { closeNav(); });

        //Change description
        function change_description(id) {
            var text = document.getElementById('description');
            if (id == 1) {
                text.innerHTML = "TEST PARAGRAPH 1";
                document.getElementById('1').style.backgroundColor = 'rgb(36, 193, 171)';
                document.getElementById('2').style.backgroundColor = 'black';
                document.getElementById('3').style.backgroundColor = 'black';
                document.getElementById('arrow1').style.visibility = 'visible';
                document.getElementById('arrow2').style.visibility = 'hidden';
                document.getElementById('arrow3').style.visibility = 'hidden';
            }
            if (id == 2) {
                text.innerHTML = "TEST PARAGRAPH 2";
                document.getElementById('1').style.backgroundColor = 'black';
                document.getElementById('2').style.backgroundColor = 'rgb(36, 193, 171)';
                document.getElementById('3').style.backgroundColor = 'black';
                document.getElementById('arrow1').style.visibility = 'hidden';
                document.getElementById('arrow2').style.visibility = 'visible';
                document.getElementById('arrow3').style.visibility = 'hidden';


            }
            if (id == 3) {
                text.innerHTML = 'נולדה CODIT כספקית שירותי מיקור חוץ "Outsourcing "בשיתוף עם חברות הייטק מובילות ע"י צוות מהנדסים צעירים מובילים בתחומם. CODIT הובילה פתרונות מורכבים לפרויקטים שיתופיים עם חברות אחרות באמצעות הצוותים הייצירתים שלה שהתאגדו למתן פתרון מקצועי לכל בעיה או בקשה שרק אפשר לחלום עליה, !We, it dream can you If CODIT Can הצטרפו ללקוחות CODIT ותכירו את הפתרונות ושירותים הנרחבים שלה';
                document.getElementById('1').style.backgroundColor = 'black';
                document.getElementById('2').style.backgroundColor = 'black'
                document.getElementById('3').style.backgroundColor = 'rgb(36, 193, 171)';
                document.getElementById('arrow1').style.visibility = 'hidden';
                document.getElementById('arrow2').style.visibility = 'hidden';
                document.getElementById('arrow3').style.visibility = 'visible';
            }
        }

        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById('affected').style.filter = 'blur(8px)';
            document.getElementById('mySidebar').style.marginRight = '15%';
        }
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById('affected').style.filter = 'none';
            document.getElementById('mySidebar').style.marginRight = '0';
        }



    </script>


</body>
</html>
